# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
chapters/ch05/p4.output
chapters/ch13/va
chapters/ch14/strcpy
chapters/ch15/func.o
chapters/ch26/t0
chapters/ch26/t1
chapters/ch27/twait
chapters/ch33/select
chapters/ch39/readdir

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode directory
.vscode
go/t1/t1
go/t0/t0
